@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#category-type {
  position: relative;
}

#category-type::after {
  content: "";
  background-color: #0a2647;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 50%;
  translate: -50%;
  width: 0;
}

#category-type:hover::after {
  width: 50%;
  transition: all;
  transition-duration: 0.5s;
}

.activeCategory::before {
  content: "";
  background-color: #0a2647;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 50%;
  translate: -50%;
}

#play-overlay {
  scale: 0;
}

#card-image {
  transition: all;
  transition-duration: 1s;
}

#card-container:hover #card-image {
  scale: 1.5;
  opacity: 0.8;
}

#card-image:hover + #play-overlay,
#play-overlay:hover {
  scale: 1;
}

.song-category-container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.song-category-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
